# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
# *.so
# *.dylib
# *.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Directory
/.qtc_clangd
/.vscode
/.vercel
build/
debug/
release/


# Qmake
*.user
*.qm
*.qmake.stash
*.Debug
*.Release
Makefile

# Log
*.log